target/*
.classpath
.project
.settings/*
.vscode/*
bash.exe.stackdump
aws server/*
app-projects/gitProjects/*
!app-projects/gitProjects/.gitkeep
app-projects/projectZips/*
!app-projects/projectZips/.gitkeep
app-projects/compiledProjects/*
!app-projects/compiledProjects/.gitkeep
app-projects/extraFileProjects/*
!app-projects/extraFileProjects/.gitkeep